.container{
  margin-top: 25px !important;
}

.card-header{
  background: #4a4a4a;
  border-radius: 1px;
}

.card-header-title{
  color: white !important;
}

#stocks_list .card-content{
  padding-left: 0px;
  padding-right: 0px;
}
#stocks_list table{
  width: 100%;
  margin: 3px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.selected{
  background: #4dabf559;
  box-shadow: 1px 1px 5px #5555557d inset;
}

tr{
  cursor: pointer;
}